BACKEND_URL=

BETTER_AUTH_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_SECRET=

DATABASE_URL_DIRECT=
DATABASE_URL_ACC=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_USER=
GOOGLE_REF_TOKEN=

FRONTEND_URL=

PORT=5000


